#thirdpara {
    background-color: blanchedalmond;
}

.headingone {
    text-align: center;
    tab-size: 50px;
    font-weight: 800;
    font-style: italic;
    color: rgb(70, 3, 133);
}

.paragraphforpractice {
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    justify-content: center;
}

.containerdiv {
    margin: 10px;
    padding: 10px;
    border: 10px;
}

.commondivtag {
    color: aqua;
    font-size: medium;
    font-weight: 800;
}

.divone {
    margin: 10px;
    padding: 10px;
    border: 10px;
    background-color: rgb(175, 175, 228);

}

.divtwo {
    background-image: url('download.png');
    display: none;
}

.divthree {
    background-image: url('download.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    visibility: hidden;
}

.containertwo {
    text-align: center;
}

.divfour {
    border: 10px solid black;
    margin: 20px;

}

.divfive {
    border: 15px solid tomato;
    border-radius: 10px;
    width: 50%;
    box-shadow: 10px 15px 20px black;
    margin: 0 auto;
    margin-bottom: 30px;
}

.para {
    display: inline-block;
    border: 3px dashed red;
}

.btn {
    background-color: rgb(158, 158, 221);
    color: aliceblue;
}

.form {
    display: block;
    text-align: center;
}

input[type="text"] {
    color: aliceblue;
    background-color: black;
    border-radius: 5px;
}

input[type="email"] {
    color: aliceblue;
    background-color: black;
    border-radius: 5px;
}

input[type="password"] {
    color: aliceblue;
    background-color: black;
    border-radius: 5px;
}

input[type="submit"] {
    color: aliceblue;
    background-color: green;
    border-radius: 5px;
}